.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin: 0 8px 16px;

    div {
        padding: 0 8px 8px;
        h1 {
            font-size: 18px;
            margin: 8px;
        }
        .add-btn {
            border: 1px solid #eee;
            background: teal;
            color: #fff;
            width: 100%;
            padding: 6px 12px;
            border-radius: 4px;
        }
        .remove-btn {
            border: 1px solid #eee;
            background: tomato;
            color: #fff;
            width: 100%;
            padding: 6px 12px;
            border-radius: 4px;
        }
    }
}
