<div>
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <span>Apple TV</span>
    <div class="spacer"></div>
  </div>
  <h1>My List</h1>
  <div class="card-container">
    <div *ngFor="let movie of mylist">
      <app-movie-card (onAction)="onActionReceiver($event)" [movie]="movie" [action]="'remove'"></app-movie-card>
    </div>
  </div>
  <h1>My Recommendations</h1>
  <div class="card-container">
    <div *ngFor="let recommendation of recommendations">
      <app-movie-card (onAction)="onActionReceiver($event)" [movie]="recommendation" [action]="'add'"></app-movie-card>
    </div>
  </div>

  <div>
    <h1>My List Move Titles</h1>
    <ul>
      <li *ngFor="let movie of mylist"> {{movie.title}} </li>
    </ul>
  </div>

</div>