.spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding: 0 16px;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
  }

    h1 {
        font-size: 20px;
        color: tomato;
        padding: 16px 8px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        cursor: pointer;
    }
