<div>
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <span>Apple TV</span>
    <div class="spacer"></div>
  </div>
  <h1>My List</h1>
  <div class="card-container">
    <div *ngFor="let movie of mylist">
      <app-movie-card [movie]="movie" [action]="'remove'"></app-movie-card>
    </div>
  </div>
  <h1>My Recommendations</h1>
  <div class="card-container">
    <div *ngFor="let recommendation of recommendations">
      <app-movie-card [movie]="recommendation" [action]="'add'"></app-movie-card>
    </div>
  </div>

</div>